* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: rgb(111, 111, 226);
    color: white;
    height: 4rem;
    line-height: 4rem;
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    opacity: 0.8;
    cursor: pointer;
    background-color: rgb(111, 111, 226);
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid rgb(111, 111, 226);
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 3rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 3rem;
}
#user-score, #comp-score{
    font-size: 4rem;
}
.msg-container{
    margin-top: 2rem;
}
#msg{
    margin-top: 5rem;
    background-color: rgb(111, 111, 226);
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}